.panel {
    display: inline-block;
    vertical-align: top;
    margin-right: 50px;
}

.foundations {
    width: 200px;
}

.table-stacks {
    width: 350px;
}

.stack {
    width: 50px;
    height: 300px;
    display: inline-block;
    vertical-align: top;
    background-color: azure;
}

.card {
    width: 50px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background-color: #ddffdd;
}

.buttons button {
    margin: 5px;
}